<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <ul>
        {% for article in articles %}
            <li>
                {{ articles.pk }} - {{ article.title }}
            </li>
        {% endfor %}
    </ul>

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
         <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    {% endif %}
    </div>

</body>
</html>